<h1> Famliy tree</h1>
<h1>{{post.content}}</h1>
{{#each post}}
{{this.content}}
{{this.firstName}}
{{/each}}
Family members
<button>
    {{post.firstName}}
    <a href="posts/details.hbs"></a>
</button>