html{
    color: rgb(rgb(106, 105, 105), rgb(64, 67, 64), rgb(71, 71, 74))
}


.main-page{
/* background-color: red; */
/* background: rgb(2,0,36);
background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(201,146,20,1) 35%, rgba(0,212,255,1) 100%); */
/* height: 56vh; */
background: rgb(2,0,36);
background: linear-gradient(360deg, rgba(2, 0, 36, 0.723) 0%, rgba(20, 123, 201, 0.73) 35%, rgba(0, 213, 255, 0.648) 100%);
height: 75vh;
}
img{
    width: 40vw;
}
p {
    display: flex;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center; 
    font-weight: 200;
    font-size: 5vw;
}
span{
    display: flex;
    justify-content: center; 
   
}
footer{
  /* background-color: red; */
}
nav{
    z-index: 5;
}
.main-image{
    display: flex;
    justify-content: center;
    width:100%;
    padding-top: 20px;
}
#heading-font{
    opacity: .5;
    z-index: 1;
    line-height: .1;
}
#heading-small{
    font-size: 2vw;
    font-weight: 200;
    font-size: 10vw;
    padding-top: 50px;
}
.bl-content{
    display: flex;
    justify-content: center;
    width: 100%;
}
.main-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    color: rgba(255, 255, 255, 0.778);
}
/* .center{
    display: flex;
    justify-content: center;
} */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .signup-container {
    display: flex;
    justify-content: center;
  }
  .clearfix {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .account-message-signup {
    text-align: center;
  }
  .signup-form-container {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  #signupbtn {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 20px; */
  }

  .sign-login-homepage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 35vw;
    align-items: center;
    padding: 21vw;
    /* display: flex;
    
    justify-content: center;
    flex-direction: column; */
    /* padding: 0 1em;
    max-width: 60rem;
    margin: 0 auto; */
  }
  /* login/logout*/
  .form-container-login {
    /* border: 10px solid black; */
    width: 100vw;
    /* background-color: blue; */
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 2px black solid;
    padding-bottom: 10px;
  }
  .auth-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
  
    /* margin: 0; */
    /* background-color: red; */
    width: auto;
    /* padding-top: 10px; */
  }
  .home-button{
      height: 5vh;
      background-color: rgba(245, 245, 245, 0.312);
 color: white;
 border:1px white solid;
 border-radius: 5px;
 padding: 10px;

  }
 .anchorHome{
     color:white;
     
     text-decoration: none;
 }
 .create-button{
   background-color: white;
   border: 1px solid black;

 }
 .details-family-center{
   display: flex;
   justify-content: center;
   flex-direction: column;
   /* width: 70vw; */
 }
 .create-center-container{
  display: flex;
  justify-content: center;
 }
 .button-center-create{
  display: flex;
  justify-content: center;
 }
 .create-button:hover{
   background-color: gainsboro;
 }
  .home-button:hover{
    background-color: rgba(60, 53, 53, 0.312);
    color: white;
    text-decoration: none;
  }
  .family-gifts{
    display: flex;
    justify-content: center;
    width: 50vw;
    text-align: center;
  }
  .family-gifts-center{
    display: flex;
    justify-content: center;
  }
  .list-family{
    padding-top:20px ;
    display: flex;
    justify-content: center;
    /* width: 50vw; */
    text-align: center;
  }
  .user-profile{
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  #delete-account{
    padding-top:20px;
  }
  .container-family-detail{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .family-desc{
    width:100vw;
    padding-left: 20vw;
    padding-right: 20vw;

  }